@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ContactManager.Models.Contact>

@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contacts</h1>

    <p>
        <a class="btn btn-primary" asp-controller="Contacts" asp-action="CreateContact">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
            Create New
        </a>
    </p>

    <div class="text-end">
        <input style="width: 30%;" id="searchInput" type="text" class="form-control" placeholder="Search by any field..." />
        <p class="text-secondary">Press header of column to sort</p>
    </div>

    <hr />

    <table id="contactsTable" class="table table-hover">
        <thead>
        <tr>
            <th onclick="sortTable(0)">@Html.DisplayNameFor(model => model.Phone)</th>
            <th onclick="sortTable(1)">@Html.DisplayNameFor(model => model.Name)</th>
            <th onclick="sortTable(2)">Date Of Birth</th>
            <th onclick="sortTable(3)">@Html.DisplayNameFor(model => model.Married)</th>
            <th onclick="sortTable(4)">@Html.DisplayNameFor(model => model.Salary)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Any())
        {
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@item.DateOfBirth.ToString("yyyy-MM-dd")</td>
            <td>@Html.DisplayFor(modelItem => item.Married)</td>
            <td>@Html.DisplayFor(modelItem => item.Salary)</td>
            <td class="col-md-3">
                <a asp-controller="Contacts" class="btn btn-primary btn-sm" asp-action="GetContact" asp-route-phone="@item.Phone">Details</a>
                <a asp-controller="Contacts" class="btn btn-primary btn-sm" asp-action="EditContact" asp-route-phone="@item.Phone">Edit</a>
                <a asp-controller="Contacts" class="btn btn-outline-danger btn-sm" asp-action="DeleteContact" asp-route-phone="@item.Phone">Delete</a>
            </td>
        </tr>
        }
        }
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/sortAndFilter.js"></script>